* {
  box-sizing: border-box;
}

.loginScreen {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

/* .loginScreen {
  min-height: 100vh;
  display: flex;
  background-position: center;
  background-size: cover;
} */
